<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants Results</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Restaurants Results</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Borough</th>
                    <th>Cuisine</th>
                    <th>Street Address</th>
                </tr>
            </thead>
            <tbody>
                {{#each restaurants}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{borough}}</td>
                        <td>{{cuisine}}</td>
                        <td>{{address.street}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
